body {
    background-color: black;
    color: white;
}
main {
    margin: 0;
    padding: 0;
}
#affiche {
    width: 100%;
    margin: 0;
    padding: 0;
}
.infos {
    width: 100%;
    /* text-align: center; */
    
}
.billetFilm img {
    width: 50%;
}
.modal-footer {
    border-top: 0 none;
}

/* .close {
    color: white;
}

.billetFilm {

} */