* {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: 100%;
	height: 20%;
}

main {
	width: 95%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

nav ul {
	text-align: center;
	list-style-type: none;
	display: inline;
}

form {
	width: 100%;
	height: 5%;
	background-color: rgba(144, 144, 144, 0.5);
	/* display: flex; */
	/* flex-wrap: wrap;
	font-size: 2em; */
	margin-top: 30%;
	/* overflow: auto; */
	transition-duration: 0.05s;
	border-radius: 15px;
	box-shadow: 5px 5px 10px black;
	margin-bottom: 5%;
}

form input {
	width: 100%;
	padding-left: 1%;
	/* transition-duration: 0.05s; */
	border-radius: 15px;
	border: none;
	box-shadow: 5px 5px 10px black;
}

#more {
	width: 100%;
	height: 0%;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	/* transition-duration: 1s; */
	margin-top: 0%;
}

.formInp{
	width: 25%;
	margin: 2%;
	height: 15%;
	padding-left: 1%;
	border-radius: 15px;
}

#submit {
	width: 25%;
	margin: 2%;
	height: 15%;
	border-radius: 15px;
}

#trier {
	display: none;
	width: 20%;
	height: 5%;
	margin-top: 5%;
	font-size: 2em;
}

.billetFilm {
	width: 90%;
	height: 25%;
	display: flex;
	flex-wrap: wrap;
}

.affiche {
	width: 30%;
	height: 100%;
}

.affiche img {
	width: 100%;
	height: auto;
}

.infos {
	width: 70%;
	height: auto;
}

#resumeFull {
	display: none;
	
	
}
.container {
	position: relative;
	width:26vmax;
	height: 37vmax;
	padding: 0;
	margin: 0;
	
}
.container img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	
}
.buttonPlus {
	position: absolute;
	bottom: 10%;
	right: 10%;
	width:         20px;
	height:        20px;
	z-index: 2;
	background-image: url('../img/plus.svg')
}
main .gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	
	
}
